name: Push images of new releases to Docker Hub

on:
    push:
        tags:
           - '*'

jobs:
    buildandpush:
        runs-on: ubuntu-latest
        steps:
            # see https://github.community/t/checkout-with-code-from-the-latest-release/17649
            - name: Get latest release of elabftw with tag
              id: elabftwrelease
              run: |
                  echo "::set-output name=releasetag::$(curl -s https://api.github.com/repos/elabftw/elabftw/releases/latest | jq '.tag_name' | sed 's/\"//g')"

            - name: Get latest release of elabimg with tag
              id: elabimgrelease
              run: |
                  echo "::set-output name=releasetag::$(curl -s https://api.github.com/repos/elabftw/elabimg/releases/latest | jq '.tag_name' | sed 's/\"//g')"

            - name: Verify release tags
              run: |
                  echo ${{ steps.elabftwrelease.outputs.releasetag }}
                  echo ${{ steps.elabimgrelease.outputs.releasetag }}

            - name: Checkout elabimg repo on latest tag
              uses: actions/checkout@v2
              with:
                  repository: "elabftw/elabimg"
                  ref: ${{ steps.elabimgrelease.outputs.releasetag }}

            # https://github.com/docker/setup-qemu-action#usage
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v1

            # https://github.com/marketplace/actions/docker-setup-buildx
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            # https://github.com/docker/login-action#docker-hub
            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with:
                username: ${{ secrets.DOCKER_HUB_USERNAME }}
                password: ${{ secrets.DOCKER_HUB_TOKEN }}

            # https://github.com/docker/build-push-action#multi-platform-image
            - name: Build latest release for all platforms and push to Docker Hub
              uses: docker/build-push-action@v2
              with:
                context: .
                platforms: linux/arm64,linux/amd64
                push: true
                build-args: |
                    ELABFTW_VERSION=${{ steps.elabftwrelease.outputs.releasetag }}
                tags: |
                    elabftw/elabimg:latest
                    elabftw/elabimg:${{ steps.elabftwrelease.outputs.releasetag }}
